<% @users.each do |user| %>
  <div clas='main-container'>
    <div class='user-container'>
      <img src="<%= user.photo %>" class='user-image'>
    </div>
    <h2 class='users-info'>
      <%= link_to user.name, user_path(user.id) %>
    </h2>
    <p class='post-num'>Number of posts: <%= user.posts_counter%></p>
  <div>
<% end %>